<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <appSettings>
    <!-- Признак сертификата, по которому его можно будет найти (в данном случае отпечаток) -->
    <add key="clientCertCriteria" value="fe 3e e4 f6 bb 6c b3 b6 b7 22 33 bc 4e 98 72 ab 90 6c 4b 24" />

    <!-- Где искать сертификат -->
    <add key="clientCertStoreName" value="My" />
    <add key="clientCertStoreLocation" value="CurrentUser" />

    <!-- По какому признаку искать сертификат -->
    <add key="clientCertFindType" value="FindByThumbprint" />
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CustomBinding_ISmevTestService" closeTimeout="00:01:00"
              openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
              allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
              maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
              messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
              useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                  realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>

    <client>
      <endpoint address="http://localhost:2485/SmevTestService.svc"
            binding="basicHttpBinding" bindingConfiguration="CustomBinding_ISmevTestService"
            contract="SmevTestService.ISmevTestService" name="CustomBinding_ISmevTestService" />
    </client>
  </system.serviceModel>
</configuration>