<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <!-- Отпечаток ключа сервера для подписания запросов-->
    <add key="serverCert" value="fe 3e e4 f6 bb 6c b3 b6 b7 22 33 bc 4e 98 72 ab 90 6c 4b 24"/>
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>

    <services>
      <service name="SmevTestService.SmevTestService">
        <endpoint address="" binding="customBinding" bindingNamespace="http://mustiksprogramming.blogspot.com/" bindingConfiguration="smevBinding"
         contract="SmevTestService.ISmevTestService" />
      </service>
    </services>

    <bindings>
      <customBinding>
        <binding name="smevBinding">
          <SmevMessageEncoding logPath="D:\SmevTestServiceLog\"/>
          <httpTransport/>
          
        </binding>
      </customBinding>
    </bindings>
    
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Чтобы избежать раскрытия сведений о метаданных, присвойте приведенному ниже параметру значение false и удалите конечную точку метаданных перед развертыванием -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- Чтобы при сбое получать подробные сведения об исключении для целей отладки, установите для нижеприведенного параметра значение true.  Перед развертыванием установите значение false, чтобы избежать раскрытия информации об исключении -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />

    <extensions>
      <bindingElementExtensions>
        <add name="SmevMessageEncoding" type="Utils.SmevServiceMessageEncodingBindingElementExtensionElement, Utils"/>
      </bindingElementExtensions>
    </extensions>
    
    
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
